html {
    cursor: url(icon_32.png) 0 0, auto;
}

body {
    background-color: #0079D8;
    cursor: url(icon_32.png) 0 0, auto;
}

h1 {
    
    font-family: 'Montserrat', Segoe UI, Roboto, sans-seif;
    font-size: 120px;
    padding-left: 150px;
    color: white;
    font-weight: 500;
}

h4 {
    font-family: Segoe UI, Roboto, sans-seif;
    font-weight: 300;
    color: white;
    font-size: 30px;
    padding-left: 150px;
    padding-right: 30px;
}