body {
    /* TODO: Change font */
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.header {
    overflow: hidden;
    background-color: rgb(14, 53, 68);
    padding: 20px 10px;
}

.navbar-link {
    float: left;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 15px 25px;
    font-size: 15px;

    /* buttons shape */
    border-style: hidden;
    border-width: 10px;
    border-radius: 50% / 100%;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    text-decoration: none; /*to remove underline for link*/
}

.navbar-link:hover {
    background-color: rgba(80, 155, 226, 0.363);
}

#blue-background {
    background-color: rgb(34, 138, 241);
    color: white;
    box-shadow: 0px 0px 20px rgba(114, 114, 114, 0.678);
}

.nav-links {
    float: right;
}

.header-left {
    float: left;
}

.my_icon {
    width: 60px;
}

.header_title {
    font-weight: bold;
    font-size: 25px;
    float: right;
    margin-top: 17px;
    margin-left: 10px;
    margin-left: 20px;
    color: white;
}

#intro {
    margin-top: 100px;
    margin-left: 45px;
    margin-bottom: 80px;
    padding: 55px;
    width: 55%;
    border-style: hidden;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #6598FF, #C70AFF);
}

#intro-back {
    margin-top: 70px;
    margin-left: 90px;
    margin-bottom: 80px;
    z-index: -1;
    width: 55%;
    height: 300px;
    border-style: hidden;
    position: fixed;
    border-radius: 30px;
    background: linear-gradient(to right, #adff29, #0a53ff);
}

#close_intro_button {
    height: 25px;
    width: 25px;
    border-style: hidden;
    border-radius: 50%;
    background-color: white;
    float: right !important;
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}


.Hi_text_in_intro {
    font-size: 65px;
}

hr {
    margin-right: 45px;
    margin-left: 45px;
}